@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.eot');
  src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/TTLakes-Regular.woff') format('woff'), url('../fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.eot');
  src: url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/TTLakes-Medium.woff') format('woff'), url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 597px;
  overflow-x: hidden;
  font-family: 'TT Lakes Medium';
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  background-color: rgba(28, 28, 28, 0);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff3e79;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

/* burger menu */
.burger {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: fixed;
  width: 320px;
  height: 100vh;
  background: #ffffff;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  overflow-y: auto;
}

/* .email {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.number {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: 600;
} */

/* .popup-nav__link:hover::before {
  display: inline-block;
  position: absolute;
  left: -2px;
  content: ' ';
  width: 6px;
  height: 32px;
  background-color: rgba(255, 62, 121, 1);
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}
.popup-nav__link:hover {
  padding-left: 50px;
  opacity: 0.7;
}
.popup-nav__link {
  transition: 0.3s ease-in-out;
} */

/* .languages {
  display: flex;
  gap: 7px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.button {
  opacity: 0.5;
}
.button:hover {
  margin-right: 20px;
  opacity: 1;
}
.button {
  transition: 0.5s ease-in-out;
} */
/* burger menu */

/* main */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 16px 24px 16px;

  min-width: 320px;
  min-height: 88px;
}

.button--block {
  display: none;
}
.divider--block {
  display: none;
}
@media screen and (min-width: 530px) {
  .link {
    margin-right: auto;
  }

  .button,
  .divider {
    margin-right: 20px;
  }

  .button--block {
    display: flex;
  }

  .divider--block {
    display: block;
  }
}
/* конфликтуют классы */
@media screen and (min-width: 1120px) {
  .header {
    display: none;
  }
}

.main {
  background-color: rgba(248, 248, 248, 1);
  min-height: 509px;
}

.title {
  display: flex;
  align-items: center;
}

.text {
  margin-right: 12px;
}

.h1 {
  font-size: 28px;
  margin-right: auto;
  margin-left: 12px;
}
.h1::before {
  display: inline-block;
  position: relative;
  z-index: 5;
  left: -13px;
  top: 7px;
  content: ' ';
  width: 4px;
  height: 32px;
  border-radius: 5px;
  background-color: rgba(255, 62, 121, 1);
}

.block {
  display: none;
}
@media screen and (min-width: 1120px) {
  .block {
    display: flex;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0;
  padding-left: 16px;
}
.nav__item {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  text-decoration: none;
  color: #666;
  padding: 10px;
}
.nav__item:hover {
  background: rgba(255, 62, 121, 0.1);
  border-radius: 6px;
}
.nav__item {
  transition: 0.1s ease-in-out;
}
.nav__link {
  text-decoration: none;
  color: #666;
}
.nav__item--block {
  display: flex;
}
.nav__item--laptop {
  display: none;
}
@media screen and (min-width: 1120px) {
  .nav__item--block {
    display: none;
  }
  .nav__item--laptop {
    display: flex;
  }
}

.content {
  display: flex;
  flex-direction: column;
}
.content--margin {
  margin-top: 22px;
}
@media screen and (min-width: 500px) {
  .content {
    flex-direction: row;
  }
  .background {
    border-radius: 10px;
    width: 100%;
    height: 100%;

    margin-right: 25px;
  }
}

@media screen and (min-width: 900px) {
  .background {
    width: 531px;
    height: 307px;
  }
}

.about {
  width: 100%;
  font-family: 'TT Lakes Medium';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding: 0px 16px 0px 16px;
  margin: 0;
  font-weight: 200;
}
.about--block {
  display: none;
}
.about--laptop {
  display: none;
}
@media screen and (min-width: 900px) {
  .about--laptop {
    display: block;
  }
}
@media screen and (min-width: 500px) {
  .about--block {
    display: block;
  }
}

.more {
  display: flex;
  align-items: center;
  gap: 16px;

  padding: 12px;
  margin-left: 18px;

  background-color: rgba(248, 248, 248, 0);

  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.more:hover {
  background-color: rgba(207, 207, 207, 0.2);
  border-radius: 20px;
}
.more {
  transition: 0.1s ease-in-out;
}
